@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #d3b683;
  background-size: cover;
  font-family: 'Quicksand', Arial, sans-serif;
  transition: background-color 0.3s;
}